<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <title>ENEM</title>
    <meta charset='utf-8'>
</head>
<style>
    p {
        font-size: 50px;
    }

    em {
        color: rgb(194, 151, 174);
    }

    fieldset {
        font-size: 20px;
        border: 8px blue solid;
        border-radius: 10px;
        width: 25%
    }
</style>

<body>
    <center>
        <p></p>
        <h1>ENEM</h1>
        <p></p>
        <h2>Preencha as informações socioeconômicas para que o sistema<br>
            preveja a nota que o participante tem maior probabilidade de<br> 
            obter após realização do exame.
        </h2>
        <p></p>
        <form action='predict' method='POST' enctype='multipart/form-data'>
            <fieldset>
                <legend>Dados Socioeconômicos</legend>
                <p></p>
                <label>Faixa Etária:</label>
                <select name='idade' id='idade' required>
                    <option value='' selected></OPTION>
                    <option value='1'>MENOR QUE 17 ANOS</OPTION>
                    <option value='2'>17 ANOS</OPTION>
                    <option value='3'>18 ANOS</OPTION>
                    <option value='4'>19 ANOS</OPTION>
                    <option value='5'>20 ANOS</OPTION>
                    <option value='6'>21 ANOS</OPTION>
                    <option value='7'>22 ANOS</OPTION>
                    <option value='8'>23 ANOS</OPTION>
                    <option value='9'>24 ANOS</OPTION>
                    <option value='10'>25 ANOS</OPTION>
                    <option value='11'>26..30 ANOS</OPTION>
                    <option value='12'>31..35 ANOS</OPTION>
                    <option value='13'>36..40 ANOS</OPTION>
                    <option value='14'>41..45 ANOS</OPTION>
                    <option value='15'>46..50 ANOS</OPTION>
                    <option value='16'>51..55 ANOS</OPTION>
                    <option value='17'>56..60 ANOS</OPTION>
                    <option value='18'>61..65 ANOS</OPTION>
                    <option value='19'>66..70 ANOS</OPTION>
                    <option value='20'>MAIOR QUE 70 ANOS</OPTION>
                </select>
                <p></p>
                <label>Renda Familiar:</label>
                <select name='renda' id='renda' required>
                    <option value='' selected></OPTION>
                    <option value='0'>Nenhuma Renda</OPTION>>
                    <option value='1'>Até R$ 1.100,00</OPTION>
                    <option value='2'>De R$ 1.100,01 até R$ 1.650,00</OPTION>
                    <option value='3'>De R$ 1.650,01 até R$ 2.200,00</OPTION>
                    <option value='4'>De R$ 2.200,01 até R$ 2.750,00</OPTION>
                    <option value='5'>De R$ 2.750,01 até R$ 3.300,00</OPTION>
                    <option value='6'>De R$ 3.300,01 até R$ 4.400,00</OPTION>
                    <option value='7'>De R$ 4.400,01 até R$ 5.500,00</OPTION>
                    <option value='8'>De R$ 5.500,01 até R$ 6.600,00</OPTION>
                    <option value='9'>De R$ 6.600,01 até R$ 7.700,00</OPTION>
                    <option value='10'>De R$ 7.700,01 até R$ 8.800,00</OPTION>
                    <option value='11'>De R$ 8.800,01 até R$ 9.900,00</OPTION>
                    <option value='12'>De R$ 9.900,01 até R$ 11.000,00</OPTION>
                    <option value='13'>De R$ 11.000,01 até R$ 13.200,00</OPTION>
                    <option value='14'>De R$ 13.200,01 até R$ 16.500,00</OPTION>
                    <option value='15'>De R$ 16.500,01 até R$ 22.000,00</OPTION>
                    <option value='16'>Acima de R$ 22.000,00</OPTION>
                </select>
                <p></p>
                <label>Possui Computador?</label>
                <select name='computador' id='computador' required>
                    <option value='' selected></OPTION>
                    <option value='0'>NÃO POSSUO</OPTION>
                    <option value='1'>SIM 1</OPTION>
                    <option value='2'>SIM 2</OPTION>
                    <option value='3'>SIM 3</OPTION>
                    <option value='4'>SIM 4 OU MAIS</OPTION>
                </select>
                <p></p>
                <label>Escola do Ensino Médio:</label>
                <label><input type='radio' name='escola' value='2' required>PÚBLICA</label>
                <label><input type='radio' name='escola' value='3'>PRIVADA</label>
                <p></p>
                <label>Possui Internet?</label>
                <label><input type='radio' name='internet' value='0' required>NÃO</label>
                <label><input type='radio' name='internet' value='1'>SIM</label>
                <p></p>
                <button type='submit' style='width:150px; height:50px;'>Prever</button>
                <p></p>
                <label>{{classe}}</label>
                <p></p>
            </fieldset>
        </form>
    </center>
</body>

</html>